
$darkpurple: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$pink:  #FF718E;
$lightpink: #FE7090;
$darkdarkgrey: #60656A;
$bordergrey: #E7E4E1;
$darkgrey: #828d9d;
$lightgrey: #dadde2;

$iphone: rgb(96%, 96%, 96%);
$iphone-button: rgb(78%, 78%, 78%);